/__pycache__
/logs
/.vscode
/data/csv
/data/mdb
/data/__pycache__
/metrics/__pycache__
/model/__pycache__
/preprocess/__pycache__
/pretrained
/lib/__pycache__
/asset/upload_one
staticis.txt
*.pyc
checkpoints
work_dirs
logs
mmcls/datasets/__pycache__/ddsm_patch.cpython-310.pyc
mmcls/datasets/pipelines/__pycache__/__init__.cpython-310.pyc
mmcls/datasets/pipelines/__pycache__/formatting.cpython-310.pyc
mmcls/datasets/pipelines/__pycache__/loading.cpython-310.pyc
mmcls/datasets/pipelines/__pycache__/transforms.cpython-310.pyc
